.container {
  background-color: #2c7dfa;
  width: 72px;
  height: 720px;

  border: 3px solid #2c7dfa;
  border-radius: 0px 30px 30px 0px;
}

.logoBlock {
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

.navBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 495px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.24);

  svg {
    margin-bottom: 32px;
  }
}

.accountBlock {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
